---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clicker">
	<main class="">
        <div  class="w-full">
            <h1 class="text-3xl col-span-4 mb-2 ">What is Clickr?</h1>
            <p>Clickr is a website I, Anav, made to help out new web developers that have just dove into the diverse world of CSS. This websites hosts a wide range of pure CSS buttons that anyone and everyone can use for a small price of a few clicks! </p>

            <h1 class="text-3xl mt-10 col-span-4 mb-2 ">Nope, I Lied</h1>
            <p>To be completly honest, this is just a side project I made while learning Firebase. Playing around with user auth and firestore was very fun and hopefully I can add a leaderboard system to the qquizzes on Codeology someday.</p>

            <h1 class="text-3xl mt-10 col-span-4 mb-2 ">Can I Contribute?</h1>
            <p>Yes you can indeed! If you wish to add a button or have ideas for features, you will have to directly reach out to me on either Instagram or send me an Email for now. I will definitly add a button submissoin feature should this website gain any traction at all.</p>
        </div>
	</main>
    
</Layout>



