---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Clicker">
	<main class="bg-slate-300 h-screen">
        
		<nav class="p-5 flex justify-between items-center">
            <h1>Clicker</h1>
            <div>
                <button class="btn firebase-btn mr-5" data-target="signup">Sign Up</button>
                <button class="btn firebase-btn mr-5" data-target="login">Log In</button>
                <button class="btn firebase-btn " data-target="logout" id="logout">Log Out</button>
            </div>
        </nav>

    <div class="p-5 gap-5 grid grid-cols-3">
        <Card title="Log In" type="login" />
        <Card title="Sign Up"  type="signup" />
        <div class="main col-span-3 grid gap-5 grid-cols-3"></div>
        <div class="user col-span-3"></div>
    </div>


	</main>
    
</Layout>



