---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const auth = getAuth(app);
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

---

<Layout title="Clicker">
	<main class="bg-slate-300 h-screen">
        
		<nav class="p-5 flex justify-between items-center">
            <h1>Clicker</h1>
            <div>
                <button class="btn firebase-btn mr-5" data-target="signup">Sign Up</button>
                <button class="btn firebase-btn mr-5" data-target="login">Log In</button>
                <button class="btn firebase-btn " data-target="logout" id="logout">Log Out</button>
            </div>
        </nav>

        <Card title="Log In" type="login" />
        <Card title="Sign Up"  type="signup" />

      <div class="main grid p-5 grid-cols-3 gap-5">


      </div>

	</main>
    
</Layout>



