---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
---

<Layout title="Clicker">
	<main class="">

        <div class="p-5 gap-5 grid grid-cols-3">
        <Card title="Log In" type="login" />
        <Card title="Sign Up"  type="signup" />
        <div class="main col-span-3 grid gap-5 grid-cols-3"></div>
        <div class="user col-span-3"></div>
    </div>

        <div  id="game" class="text-center">
            <button id="clicker" class="clickr" data-name="clickr">Click Me 😫</button>
            <h1 id="score" class="text-xl text-center font-semibold"></h1>
        </div>
        
        
        <div id="store" class="grid grid-cols-4 gap-5 mb-5">
            <h1 class="text-3xl col-span-4">Button Store</h1>
            <Button title="Clickr Defaults" name="clickr" price="0"> </Button>
            <Button title="Windows 7" name="win7-btn" price="5"> </Button>
            <Button title="Plastic Toy" name="button-29" price="25"> </Button>
            <Button title="Toon Shaded" name="button-74" price="50"> </Button>
        </div>

        </div>
	</main>
    <script src="../scripts/auth.js"></script>
</Layout>




