<nav class="flex justify-between h-20v items-center m-auto">
    <div class="flex justify-start">
        <a href="/leaderboard"><button id="" class="loggedin hidden btn mr-5" >Leaderboards</button></a>
        <a href="/#store"><button class="loggedin hidden mr-5" >Buttons</button></a>
    </div>
    <div class="flex justify-end items-center">
        <button id="save" class="clickr hidden btn> mr-5" >Save</button>
        <button class="loggedin hidden btn firebase-btn " data-target="logout" id="logout">Log Out</button>
    </div>
</nav>

<style>
    nav{
        width: 70%;
    }
</style>
