<nav class="p-5 flex justify-between items-center border-b border-b-[#ffffff47]">
    <div class="flex w-1/3 justify-start">
        <a href="/"><button id="" class="btn> mr-5" >Clicker</button></a>
        <a href="/about"><button id="" class="btn> mr-5" >About</button></a>
    </div>
    <div class="flex w-1/3 justify-end">
        <button id="save" class="loggedin hidden btn> mr-5" >Save</button>
        <a href="/leaderboard"><button id="" class="loggedin hidden btn mr-5" >Leaderboards</button></a>
        <button class="notloggedin hidden btn firebase-btn mr-5" data-target="signup">Sign Up</button>
        <button class="notloggedin btn hidden firebase-btn mr-5" data-target="login">Log In</button>
        <button class="loggedin hidden btn firebase-btn " data-target="logout" id="logout">Log Out</button>
    </div>
</nav>
